<h1>Sobre o Info Debate</h1>
<p>O Info Debate é um sistema para promover o debate em seu site.</p>

<p><b>Módulos</b></p>
<ol>
	<li>Admin: módulo para administração de Foruns e Comentários.</li>
	<li>Usuários: módulo para gerenciamento dos usuários.</li>
	<li>Site: módulo de integração com sites.</li>
</ol>

