<%= render 'shared/admin_title_options', :title => "Atualização de Forum",
           :options => [ {:label => "Nova Thread", :path => new_admin_forum_thread_path(:forum_id => @forum.id), :type => "info"},
                         {:label => "Voltar", :path => admin_forum_path, :type => "info"} ] %>

<%= form_for([:admin, @forum], :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'fields', :f => f %>	
  <div class="controls"> 
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>