@import "bootstrap";

.left {
	float: left;
}

.nav-header-options {
	padding-top: 30px;
}

.btn-toolbar-right {
	@extend .btn-toolbar;
	float: right; 
	padding-top: 10px;
}

.bs-docs-separator {
	margin: 0 0 20px 0;
}

div.controls label {
	padding-top: 5px;
}

#logo {
	text-indent: -9999px;
	width: 277px;
	height: 88px;
	background: {
		image: url(infodebate-logo.png);
		position-x: 0px;
		position-y: 0px;
	}
	float: left;
	position: relative;
	overflow: hidden;
	margin: 1px 1px 1px 1px;
	display: inline;
}

.control-label { font-weight:bold; }

.controls .field_with_errors {
	display: inline;
}

.btn-status {
	margin-bottom: 10px;
}


// Lista de Comentários e Reclamações

.item-list {
  @extend .media-list;
  border-top: 1px solid gray;
  border-bottom: 0px;
}

.item {
  @extend .media;
  border-bottom: 1px solid gray;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
}

.item_changed {
  background-color: lightyellow;
}

.item_changed_msg {
  color: green;
}

.item-body {
  @extend .media-body;
}

.item-heading {
  @extend .media-heading;
  display: inline;
  padding-right: 5px;
  a {
    color: black;
    text-decoration: underline;
  }
}

.item-heading.username {
  color: gray;
  line-height: 30px;
}

.item-heading.time {
  color: gray;
  float: right;
  margin: 0px;
}

.item-text {
  margin-top: 5px;
}

.item-body-footer {

}

.item-footer {
  padding-right: 5px;
  
}

.item-footer.info { color: darkgreen; }

.item-footer.danger { color: red; }

.item-footer-right {
  float: right;
}

// Modal 

.modal {
    width: 800px;
    left: 40%;
}