@import "bootstrap";

.left {
	float: left;
}

.nav-header-options {
	padding-top: 30px;
}

.btn-toolbar-right {
	@extend .btn-toolbar;
	float: right; 
	padding-top: 10px;
}

.bs-docs-separator {
	margin: 0 0 20px 0;
}

div.controls {
  label { 
    padding-top: 5px;
    a { 
      padding: 0px; 
      display: inline;
    }
  }
  a { 
    padding-top: 5px; 
    display: block;
  }
}


#logo {
	text-indent: -9999px;
	width: 277px;
	height: 88px;
	background: {
		image: url(infodebate-logo.png);
		position-x: 0px;
		position-y: 0px;
	}
	float: left;
	position: relative;
	overflow: hidden;
	margin: 1px 1px 1px 1px;
	display: inline;
}

.control-label { font-weight:bold; }

.controls .field_with_errors {
	display: inline;
}

.btn-status {
	margin-bottom: 10px;
}


// Lista de Comentários e Reclamações

.item-list {
  @extend .media-list;
  border-top: 1px solid gray;
  border-bottom: 0px;
}

.item-empty {
  margin: 10px 0px 0px 2px;
  font-size: 16px;
}

.item {
  @extend .media;
  border-bottom: 1px solid gray;
  margin-top: 0px;
}

.item_changed {
  background-color: lightyellow;
}

.item_changed_msg {
  color: green;
}

.item-body {
  @extend .media-body;
  padding: 10px 10px 0px 10px;
}

.item {
  &:hover { background-color: #EEEBEB; }
}


.item-heading {
  @extend .media-heading;
  display: inline;
  padding-right: 5px;
  a {
    color: black;
    text-decoration: underline;
  }
}

.item-heading.username {
  color: gray;
  line-height: 30px;
}

.item-heading.time {
  color: gray;
  float: right;
  margin: 0px;
}

.item-text {
  margin-top: 5px;
}

.item-body-footer {
  padding: 5px 5px 5px 5px;
}

.item-footer-id {
  margin: 0px 10px 0px 5px;
}

.item-footer-btn {
  @extend .btn;
  @extend .btn-mini;
}

.btn-view { @extend .btn-primary; }
.btn-preview { @extend .btn-primary; }
.btn-parent { @extend .btn-primary; }
.btn-answers { @extend .btn-primary; }
.btn-complaints { @extend .btn-primary; }

.item-footer.info { color: darkgreen; }

.item-footer.danger { color: red; }

.item-footer-right {
  float: right;
}

.item-answers {
  margin-left: 30px;
}

.item-answers .item-list .item {
  margin-bottom: -1px;
}

// Modal 

.modal {
  width: 800px;
  left: 40%;
}

.extra-buttons { display: inline; }
.extra-buttons * { display: inline; }

// Define fixed alert for success and error
.fixed-alert {
  position: fixed;
  top: 5%;
  width: 80%;
  left: 10%;
  z-index: 9999;
  display: none;
}

.fixed-success-alert {
  @extend .alert;
  @extend .alert-success;
  @extend .fixed-alert;
}

.fixed-error-alert {
  @extend .alert;
  @extend .alert-error;
  @extend .fixed-alert;
}