<div id="" class="fixed-sucess-alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="message"></h4>
</div>

<div class="fixed-error-alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="message"></h4>
</div>
